<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load staticfiles %}
        <!--Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- user static -->
        <link rel="stylesheet" href="{% static 'belt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <title>Belt</title>
    </head>
    <body>
        <div class='header'>
            <a href='{% url "logout" %}'>Logout</a>
        </div>
        <h1>Hello, {{user.username}}!</h1>
        <h4>Your Trip Schedule:</h4>
        <table>
            <thead>
                <tr>
                    <th><h5>Destination</h5></th>
                    <th><h5>Travel Start Date</h5></th>
                    <th><h5>Travel End Date</h5></th>
                    <th><h5>Plan</h5></th>
                </tr>
                {% for travel in user_travels %}
                <tr>
                    <th class="thBorder">
                        <a href="{% url 'travel_desc' travel_id=travel.id %}">{{ travel.destination }}</a>
                    </th>
                    <th class="thBorder">{{travel.date_start}}</th>
                    <th class="thBorder">{{travel.date_end}}</th>
                    <th class="thBorder">{{travel.description}}</th>
                </tr>
                {% endfor %}
            </thead>
        </table>
        <h4>Other User's Travel Plans</h4>
            <table>
                <thead>
                    <tr>
                        <th><h5>Name</h5></th>
                        <th><h5>Destination</h5></th>
                        <th><h5>Travel Start Date</h5></th>
                        <th><h5>Travel End Date</h5></th>
                        <th><h5>Do You Want to Join?</h5></th>
                    </tr>
                    {% for travel in other_travels %}
                    <tr>
                        <th class="thBorder">
                            <a href="{% url 'travel_desc' travel_id=travel.id %}">{{ travel.destination }}</a>
                        </th>
                        <th class="thBorder">{{travel.description}}</th>
                        <th class="thBorder">{{travel.date_start}}</th>
                        <th class="thBorder">{{travel.date_end}}</th>
                        <th class="thBorder"><a href='{% url "travel_join" travel_id=travel.id %}'>Join</th>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        <a href='{% url "travel_add" %}'>Add Travel Plan</a>
        <br>
        <br>
    </body>
</html>