<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load staticfiles %}
        <!--Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- user static -->
        <link rel="stylesheet" href="{% static 'belt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <title>Belt</title>
    </head>
    <body>
        <div class='header'>
            <a href='{% url "travels" %}'>Home</a>
            <a href='{% url "logout" %}'>Logout</a>
        </div>
        <h1>Add a Trip</h1>
        <form action='/travels/add_proc' method='POST' id="add_form">
            {% csrf_token %}
            <p>Destination: <input type='text' name='destination'></p>
            <p>Description: <input type='text' name='description'></p>
            <p>Travel Date From: <input type='text' name='date_start'></p>
            <p>Travel Date To: <input type='text' name='date_end'></p>
            <input type='submit' value='Add'>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </body>
</html>